<section class="tasks-section hidden-mobile">
  <% if (tasksData) { %>

    <ul class="tasks-list">
      <h1>Tasks</h1>
      <% tasksData.map(function(elem, index) { %>
        <li class="task" onclick="setSelected('<%= index+1 %>')">
          <%= elem.name %>
        </li>
      <% }) %>
    </ul>

    <% tasksData.map(function(task, index) { %>
      <ul class="todos-list hidden-todos id-<%= index+1 %>">
        <h1><%= task.name %></h1>
        <% task.todos.map(function(todo) { %>
        <li>
          <%= todo.text %>
        </li>
        <% }) %>
      </ul>
    <% }) %>


  <% } else { %>

    <p>No task data!!!</p>

  <% } %>
</section>

<script type="text/javascript" src="js/tasks.js"></script>