<section class="weather-section">
  <%
  function dayOfWeek(dayNumber) {
    switch (dayNumber) {
      case 0: return "Sunday";
      case 1: return "Monday";
      case 2: return "Tuesday";
      case 3: return "Wednesday";
      case 4: return "Thursday";
      case 5: return "Friday";
      case 6: return "Saturday";
      default: return "";
    }
  }
  %>

  <% if (weatherData) { %>

    <ul class="weather-list">
      <% weatherData.daily.map(function(elem,index) { %>
        <% const day = dayOfWeek(new Date(elem.dt * 1000).getDay()) %>
        <% const date = new Date(elem.dt * 1000).getDate() %>
        <% const month = new Date(elem.dt * 1000).getMonth() + 1 %>
        <li class="weather-day">

          <p>
            <% if (index!==0) { %>
              <span class="weather-day-date"><%= date %>/<%= month %></span>
            <% } %>
          </p>

          <h1>
            <%= day %>
          </h1>

          <p>
            <!-- Min:  -->
            <span class="weather-day-temp-min">
              <%= elem.temp.min.toFixed(0) %><% if (index===0) { %>&#8451;<% } %>
            </span>
          </p>

          <p>
            <!-- Max:  -->
            <span class="weather-day-temp-max">
              <%= elem.temp.max.toFixed(0) %><% if (index===0) { %>&#8451;<% } %>
            </span>
          </p>

          <p class="weather-day-description">
            <%= elem.weather[0].description %>
          </p>
        </li>
      <% }) %>
    </ul>

  <% } else { %>

    <p>No weather data!!!</p>

  <% } %>
</section>